.mainBox {
  padding: 150px 128px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px;
  row-gap: 50px;
}

.link {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
