.header {
  display: flex;
  gap: 30px;
  font-size: 25px;
  font-family: var(--font-family);
  position: relative;
  top: 50px;
  left: 50px;
  width: 100%;
  background: #f7f7fb;
  border-radius: 14px;
  padding: 14px 18px;
}
