.selects {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 18px;
  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
  }
}

.makeSelect {
  border-radius: 14px;
  padding: 14px 89px 14px 18px;
  width: 224px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
}
.priceSelect {
  border-radius: 14px;
  padding: 14px 18px;
  width: 125px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
}

.search {
  border-radius: 12px;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.filteredCars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px;
  row-gap: 50px;
  margin-bottom: 50px;
}
