:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
h3,
p {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

select,
option {
  outline: none;
  border: none;
  background: #f7f7fb;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  background: #3470ff;
  font-family: var(--font-family);
}

button:hover,
button:focus {
  background: #0b44cd;
}

a {
  font-family: var(--font-family);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3470ff;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #0b44cd;
}

svg {
  cursor: pointer;
  width: 1.3em;
  height: 1.3em;
}
